.AppBar {
    font-size: 1.2em;
    color: #1f17bf;
    z-index: 1000;

    background-color: #fafafa;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);

    text-align: center;
    position: sticky;
    top: 0;
    height: 93px;
}

.Title {
    display: block;
    position: absolute;
    top: 35%;
    right: 17%;
    left: 17%;
    margin: auto;
}

img {
    position: absolute;
    padding-right: 5%;
    top: 25%;
    right: 5%;
}
